
              <p>
                <a
                  href='#about'
                  className={activeSection === 'about' ? 'active-link' : ''}
                  onClick={() => handleLinkClick('about')}
                >
                  About
                </a>
              </p>
              <p>
                <a
                  href='#menu'
                  className={activeSection === 'menu' ? 'active-link' : ''}
                  onClick={() => handleLinkClick('menu')}
                >
                  Menu
                </a>
              </p>
              <p>
                <a
                  href='#reservation'
                  className={activeSection === 'reserve' ? 'active-link' : ''}
                  onClick={() => handleLinkClick('reserve')}
                >
                  Reservations
                </a>
              </p>
              <p>
                <a
                  href='#order'
                  className={activeSection === 'order' ? 'active-link' : ''}
                  onClick={() => handleLinkClick('order')}
                >
                  Order Online
                </a>
              </p>
              <p>
                <a
                  href='#login'
                  className={activeSection === 'login' ? 'active-link' : ''}
                  onClick={() => handleLinkClick('login')}
                >
                  Login
                </a>
              </p>