.test-section {
    background: #495E57;
    min-height: 200px;
}

.main-section h2 {
    width: 255px;
    height: 46px;
    background: white;
    font-size: 38px;
    font-family: 'Markazi Text', sans-serif;
    margin: 0 0 0;
}