.header-container {
    background-color: #495E57;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
}

.head-text {
    display: flex;
    align-items: center;
    margin: 0 51px 0;
    height: 314px;
    padding: 0 7rem;
}

.text-content {
    flex: 1;
    margin-top: -80px;
}

.head-text h1 {
    color: #F4CE14;
    width: 432px;
    height: 40px;
    font-size: 56px;
    font-family: 'Markazi Text', sans-serif;
    font-weight: 190;
    padding: 2rem 0;
}

.head-text h2 {
    color: #ffffff;
    width: 432px;
    height: 40px;
    font-size: 40px;
    font-family: 'Markazi Text', sans-serif;
    font-weight: 190;
    margin-top: -15px;
}

.head-text p {
    color: #ffffff;
    width: 432px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin: 24px 0 50px;
}

.cta {
    width: 148px;
    height: 46px;
    top: 10px;
    border-radius: 2rem;
    background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    border: 0.1875rem solid #F4CE14;
    transition: background, border, color 0.5s;
    padding: 0.7rem 0.5rem;
    text-decoration: none;
}

.cta a {
    color: #495E57;
}

.food-logo {
    width: 432px;
    height: 384px;
    border-radius: 15px;
    /* margin: 0 0 -70px; */
    /* margin-left: 550px; */
    /* margin-top: -200px; */
    /* Adjust the margin and positioning as needed */
}

.image-container {
    margin: 150px 0px 0;
}
